body {
  height: 80vh;
}

#box-box {
  border: solid 3px red;
  min-height: 60rem;
  margin-left: 5rem;
  padding-bottom: 3rem;
}
.jumbotron {
  padding-top: 0px;
  padding-bottom: 5rem;
  font-size: 5rem !important;
  color: black;
  margin-bottom: 0px;
  background-image: url(../img/burger.gif);
  border-bottom: blue solid 10px;
}
.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: white;
}
.lead{
  color: blue;
  font-style: italic;
}
.container {
  text-align: center;
}
#devour {
  margin-left: 0px; 
  font-size: 24px; 
  float: right;  
  border-radius: 50%;
  color: rgb(80, 80, 172);
  border: brown double 1px;
}
#main {
  width: 100%;
  margin-top: 1rem;
}
#name {
  font-size: 29px;
  float: left;
  color: rgb(180, 172, 172);
}
.head {
  margin-bottom: 2rem;  
  margin-top: 2rem;
}
#holder {
  color: brown;  
}
.icon {
  margin-right: 10px;
}
.head {
  background-color: brown;
}
.title {
  font-size: 48px;
}
.name {
  font-size: 23px
}
#main:hover,
.btn:hover {
  color: #fff !important;
  text-decoration: none;
  }
#add {
  font-size: 34px;
  color: black;
  font-style: italic;
}
#burger {
  width: 25rem;
  border-radius: 6px;
}
#submit {
  border-radius: 8px;
  font-size: 20px;
  border: double 2px royalblue;
  margin-bottom: 5rem;
}
#bottom {
  margin-top: 5rem;
}
body {
  background-image: url(../img/burger3.png);
}